<div class="row">
    <div class="col-xs-12">
        <img src="{{recipeInput.imagePath}}" alt="{{recipeInput.name}}" class="img-responsive"
            style="max-height: 200px;">
    </div>
</div>
<hr>
<div class="dropdown">
    <button class="dropbtn">Manage Recipe</button>
    <div class="dropdown-content">
        <a (click)="addToShopingList()" style="cursor: pointer;">To Shopping List</a>
        <a style="cursor: pointer;" (click)="onClick()">Edit Recipe</a>
        <a style="cursor: pointer;">Delete Recipe</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        {{recipeInput.description}}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <ul *ngFor="let recipeIngredient of recipeInput.ingredients">
            <li>{{recipeIngredient.name}} - {{recipeIngredient.amount}}</li>
        </ul>
    </div>
</div>